<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Inventory Management System</h1>
    <form action="/add_item" method="post">
        <input type="text" name="name" placeholder="Item Name" required>
        <input type="number" step="0.01" name="price" placeholder="Price" required>
        <input type="number" name="quantity" placeholder="Quantity" required>
        <button type="submit">Add Item</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
                <th>Status</th> <!-- New column for Sold Out indicator -->
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr class="{{ 'sold-out' if item['quantity'] == 0 else '' }}">
                <form action="{{ url_for('update_item', item_id=item['id']) }}" method="POST">
                    <td>{{ item.id }}</td>
                    <td><input type="text" name="name" value="{{ item['name'] }}" required></td>
                    <td><input type="number" name="price" value="{{ item['price'] }}" required></td>
                    <td><input type="number" name="quantity" value="{{ item['quantity'] }}" required></td>
                    <td>
                        <div class="dropdown">
                            <button class="dropdown-button">Actions</button>
                            <div class="dropdown-content">
                                <!-- Update is now a button that submits the form -->
                                <button type="submit" {% if item['quantity'] == 0 %}disabled{% endif %}>Update</button>
                                <!-- Delete action -->
                                <a href="{{ url_for('delete_item', item_id=item['id']) }}">Delete</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if item['quantity'] == 0 %}
                            <span class="sold-out-text">Sold Out</span> <!-- Sold Out text -->
                        {% else %}
                            <span class="in-stock-text">In Stock</span>
                        {% endif %}
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>
